.mega-container-axe {
    width: 100%;
    height: 100vh;
}

.mega-container-axe {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
    margin: 1em;
    width: 450px;
}

.title-container-axe {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-axe {
    display: flex;
    justify-content: center;
}

.title-axe {
    display: flex;
    justify-content: center;
    font-family: "Bowlby One";
    color: var(--blue-color);
}

.text-axe {
    font-family: "Gilroy";
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--blue-color);
}

.container-img-axe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-axe {
    margin-top: 27em;
    object-fit: cover;
    opacity: 0;
    border-radius: 5px;
}

.img-axe.instruire {
    background-color: var(--orange-color);
    height: 489px;

}

.img-axe.reunir {
    background-color: var(--orange-color);
    height: 489px;
}

.img-axe.agir {
    background-color: var(--orange-color);
    height: 489px;
}

.button-axe {
    position: absolute;
}

.title-overlay {
    letter-spacing: 2px;
    font-size: 19px;
    width: 50%;
    position: absolute;
    bottom: 600px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    padding: 10px;
    font-family: "Bowlby One";
    border: 1.5px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.title-overlay:hover {
    background: none;
    transition: 0.2s ease;
}

.container-video-axe {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}